@use "sass:color";
@import "./variables";
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

* {
  font-family: Poppins;
  @apply text-white;
}

@mixin circle($width, $height, $bgColor, $borderRad, $position1, $val1, $position2, $val2){
  width: $width;
  height: $height;
  background-color: $bgColor;
  border-radius: $borderRad;
  #{$position1}: $val1;
  #{$position2}: $val2;
  @apply -z-1 absolute;
}