@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: $bgColor;
  @apply m-0 p-0;
}

#app {
  position: relative;
  @apply min-h-screen w-full flex flex-col items-center min-w-full overflow-hidden;
}

@layer components{
  .title{
    @apply text-5xl font-medium;
  }

  .subtitle{
    @apply text-xl;
  }

  .button{
    background-color: $btn-bgPrimary;
    @apply p-2 rounded-md;
  }

  .headline{
    @apply self-center flex-grow text-left flex flex-col justify-start items-start gap-10;
  }

  .navbar{
    &__nav{
      &-left, &-right{
        @apply flex;
      }
      &-logo{
        img{
          @apply w-12;
        }
        @apply flex flex-row items-center no-underline gap-3 text-base;
      }
      &-item{
        svg{
          @apply w-4 sm:w-6;
        }
        &:hover{
          background-color: $bgColor-2nd-hover;
        }
        @apply py-3 px-2 gap-1 sm:py-6 sm:px-4 flex sm:gap-2 text-sm sm:text-base;
      }
      @apply flex sm:flex-row items-center justify-between md:w-4/5;
    }
    @apply flex flex-row justify-center w-full;
  }
}